.workers-grid {
  padding: 25px;
  margin: 30px 6%;
  width: 88%;
  border: 1px solid var(--border);
  background-color: var(--panel);
  text-align: left;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

.button {
  transition: 0.2s;
  text-decoration: none;
  color: var(--text);
}

.button:hover {
  background-color: #48515a;
  transform: none;
}
