.workers-grid {
  padding: 25px;
  margin: 0px 6%;
  width: 88%;
  border: 1px solid var(--border);
  background-color: var(--panel);
  text-align: left;
}

table {
    width: 100%;
}

td {
    width: 50%;
}
